.header {
  padding-bottom: 41px;
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
}

.header__image {
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 480px) {
  .header {
    max-height: 24px;
    padding-bottom: 32px;
  }

  .header__image {
    margin-left: 27px;
    max-width: 126px;
  }
}